
.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

nav {
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.795);
}

.pic-chapters {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gridbox-1 {
    margin-top: 10px;
    min-height: 15rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.bag {
    height: 200px;
    background: url(https://cdn.pixabay.com/photo/2016/08/08/00/11/bag-1577438_960_720.jpg);
    background-size: cover;
    background-position: center;
}

.wallet {
    height: 200px;
    background: url(https://cdn.pixabay.com/photo/2016/05/13/23/13/wallet-1391131_960_720.jpg);
    background-size: cover;
    background-position: center;
}

.shoes {
    height: 200px;
    background: url(https://cdn.pixabay.com/photo/2016/03/27/22/16/fashion-1284496_960_720.jpg);
    background-size: cover;
    background-position: center;
}

.pic-chapters-names {
    margin-top: 130px;
    padding: 5px;
}

.component-pic {
    width: 245px;
    height: 300px;
    object-fit: cover;
}

.component > img {
    width: 100%;
}

.gridbox-2 {
    min-height: 100vh;
    margin-top: 10px;
    min-height: 15rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.one-0 {
    grid-area: one-0;
}

.one-1 {
    grid-area: one-1;
}

.one-2 {
    grid-area: one-2;
}

.one-3 {
    grid-area: one-3;
}

.one-4 {
    grid-area: one-4;
}

.two-0 {
    grid-area: two-0;
}

.two-1 {
    grid-area: two-1;
}

.two-2 {
    grid-area: two-2;
}

.two-3 {
    grid-area: two-3;
}

.three-0 {
    grid-area: three-0;
}

.three-1 {
    grid-area: three-1;
}

.three-2 {
    grid-area: three-2;
}

.three-3 {
    grid-area: three-3;
}

.three-4 {
    grid-area: three-4;
}

.four-0 {
    grid-area: four-0;
}

.four-1 {
    grid-area: four-1;
}

.four-2 {
    grid-area: four-2;
}

.four-3 {
    grid-area: four-3;
}

.four-4 {
    grid-area: four-4;
}

.gridbox-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    grid-template-areas:    "one-0    two-0"
                            "one-1    two-1"
                            "one-2    two-2"
                            "one-3    two-3"
                            "one-4    ."
                            "three-0  four-0"
                            "three-1  four-1"
                            "three-2  four-2"
                            "three-3  four-3"
                            "three-4  four-4";
    
}

@media (min-width:992px) {
 
    .gridbox-1 {
        margin-top: 10px;
        min-height: 15rem;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gridbox-2 {
        min-height: 100vh;
        margin-top: 10px;
        min-height: 15rem;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .gridbox-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gridbox-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        text-align: left;
        grid-template-areas:    "one-0    two-0    three-0    four-0"
                                "one-1    two-1    three-1    four-1"
                                "one-2    two-2    three-2    four-2"
                                "one-3    two-3    three-3    four-3"
                                "one-4    .        three-4    four-4";
    }
}